#container{
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
}

.invisible{
    display: none;
}
.visible{
    display: inline;
}

#goalList > div{
    display: flex;
    justify-content: space-between;
    padding:5px;
}

#goalList > div > div{
    padding: 5px;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; */

    flex: 1 1 0

}

#message{
    height: 1em;
}

/* create an error class  */

.error{
    color: red;
}

/* create a success class */
.success{
    color: green;
}